* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #e2e8f0;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #111827;
  position: sticky;
  top: 0;
}

nav h2 {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav li:hover {
  color: #38bdf8;
  cursor: pointer;
}

/* HERO */

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.hero img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #38bdf8;
  margin-bottom: 25px;
}

.hero h1 {
  font-size: 3.5rem;
  color: white;
}

.hero h3 {
  color: #38bdf8;
  margin: 15px 0;
}

.hero p {
  max-width: 700px;
  color: #cbd5e1;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}

/* SECTIONS */

section {
  padding: 100px 80px;
}

section h2 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 40px;
  font-size: 2.2rem;
}

/* ABOUT */

section p {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

/* SKILLS */

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skills-list span {
  background: #1e293b;
  padding: 10px 20px;
  border-radius: 30px;
}

/* PROJECTS */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 25px;
}

.project-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

/* CONTACT */

.contact {
  text-align: center;
}